body{
    overflow: hidden;
}
  
.App{
    display: inline-block;
    position: relative;
}
  
.wallpaper{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    filter: opacity(75%);
}
  
.text{
    top: 48%;
    left: 36%;
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-size: 64px;
    font-family: 'Nunito', sans-serif;
    text-shadow: 2px 2px #000000;
}